## MAC OS
.DS_Store
._*

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## Rubinius
*.rbc
.rbx

## PROJECT::GENERAL
*.gem
coverage
profiling
turbulence
rdoc
pkg
tmp
doc
log
.yardoc
measurements

## BUNDLER
.bundle
Gemfile.lock

## PROJECT::SPECIFIC
spec/db/
